**/*
!/.gitignore
!/.scripts
!/.scripts/*
!/.config
!/.config/aliasrc
!/.bash_profile
!/.bashrc
!/.inputrc
!/.profile
!/.zprofile
!/.zshrc
!/.tmux.conf
!/.gitignore_global
!/README.md

# nvim
!/.config/nvim
!/.config/nvim/**/*
/.config/nvim/plugged
/.config/nvim/.netrwhist

# vim
!/.vim
!/.vimrc

# graphical
!/.xprofile
!/.config/sxhkd
!/.config/sxhkd/sxhkdrc
