**/*
!/.gitignore
!/.config
!/.config/aliasrc
!/.bash_profile
!/.bashrc
!/.inputrc
!/.profile
!/.zprofile
!/.zshrc
!/.tmux.conf
!/.gitignore_global

# nvim
!/.config/nvim
!/.config/nvim/**/*
/.config/nvim/plugged
/.config/nvim/.netrwhist

# vim
!/.vim
!/.vimrc


